@import './styles/theme.css';

:root {
  color-scheme: dark;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font: inherit;
}

input {
  font: inherit;
  border: none;
  outline: none;
}

